#access {
    border: var(--border-green);
    border-radius: 10px;
}

.access__txt {
    width: 48%;
    margin-bottom: var(--space-m);
}

.access__txt span{
    font-size: var(--fs-s);
}

.access__txt p:first-child {
    margin-bottom: var(--space-ss);
}

.access__box {
    display: flex;
    justify-content:space-between;
    margin-left: var(--space-ss);
    width: 70%;
    margin: 0 auto var(--space-m);

}

.access__box figure {
    width: 48%;
    text-align: center;
}



@media (max-width: 768px) {


    .access__box {
        display: block;
    }


    .access__txt,
    #access .map,
    .access__box figure {
        width: 100%;

        margin-bottom: var(--space-m);
    }


    .access__img figcaption {
        text-align: center;
        font-size: var(--fs-h3);

    }
}