@media (max-width: 768px) {
 


    /* ここからお悩み */

    .worreies__item li {
        width: 48%;
        padding: 5px;
        white-space: pre-line;
    }

    #taiheki h2 {
        width: 100%;
        margin: 0 auto 10px;
    }

    .taiheki__item h3 {
        margin-bottom: 5px;
    }

    .taiheki__box {
        display: block;
        justify-content: center;
    }

    .taiheki__item {
        width: 100%;
        margin-bottom: var(--space-s);
    }

    .taiheki__item p {
        line-height: 1.7;
    }

    .taiheki__item__txt {
        font-size: var(--fs-body);
    }

    .taiheki__img {
        margin: 0 auto var(--space-s);
    }

    .taiheki__link {
        width: 100%;
    }

    /*ここからレスポンシブ研究所とは*/
    #lab ul {
        display: block;
        text-align: center;
        font-size: var(--fs-body);
    }

    .lab__point {
        display: block;
        font-size: var(--fs-body);
    }

    .lab__point-box {
        width: 80%;
        margin: 0 auto var(--space-m);
    }

    /* ここからplan */
    .plan__inner {
        flex-wrap: wrap;
    }

    .plan__box {
        width: 100%;
        padding: 0%;
    }

    .plan__box-sail {
      display: block;
        width: 100%;
        padding: var(--space-s);
      
        border: 3px solid var(--green);
        border-radius: 10px;
    }

    .plan__sali-price {
        margin-bottom: var(--space-s);
        padding: 5px;

        font-size: var(--fs-h3);
    }

    .plan__txt p,
    .plan__box ul {
        font-size: var(--fs-body);
    }

    .plan__img,
    .plan__sali-img,
    .plan__box ul {
        width: 70%;
        margin: 0 auto var(--space-s);
    }

    .plan__box-bloc ul {
        margin: 0 auto;
    }

    .plan__box-bloc .plan__txt,
    .plan__box-bloc ul {
        width: 50%;
    }

    .plan__box-bloc {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /*-----ここから利用の流れ */

    #flow h2 {
        margin-bottom: var(--space-s);
    }

    .flow__box-single,
    .flow__box {
        width: 100%;
    }


    .flow__box h3 {
        border-bottom: 3px solid var(--green);
        line-height: 2;

    }

    .flow__box-single h3,
    .flow__box h3 {
        width: 90%;
    }

    .flow__box p {
        font-size: var(--fs-body);
    }

    /*------ここからご予約*/

    
.booking__img{
    display: block;
}

.booking__img figure{
    width: 100%;
    text-align: center;
     margin-bottom: var(--space-m);
}


.booking__img figcaption{
    font-size: var(--fs-h3);
   
}



    /*-----ここからプロフィール */

   

    /* -----ここからよくある質問 */

    .faq-item {
        overflow: hidden;

        margin-bottom: var(--space-s);

        border-radius: 10px;
        border: 3px solid #2b6945;
    }

    .faq-question {
        width: 100%;
        font-size: var(--fs-s);
    }

    .faq-question span {
        color: var(--green);
    }

    .faq-answer {
        overflow: hidden;

        max-height: 0;
  
        transition: max-height .5s ease;
    }

    .faq-answer-inner {
        width: 90%;
        margin: 0 auto;
        padding: var(--space-ss);

        font-size: var(--fs-h4);
    }

    /*-----ここからお客様の声  */

    .voice__box,
    .voice__box-r {
        display: block;
    }

    .voice__txt {
        width: 100%;
    }

    .voice__txt h3 {
        font-size: var(--fs-h3);
    }

    .voice__img {
        width: 50%;
        margin: 0 auto;
        padding: var(--space-ss);
        
        border: 3px solid var(--green);
        border-radius: 10px;
    }

    .footer__line-link a {
        font-size: var(--fs-s);
    }

    .footer__txt__inner,
    .footer__inner {
        margin: 0 auto var(--space-s);
        display: block;

    }

    .footer__img {
        width: 100%;
        margin: 0 auto;
    }

    .footer__txt__inner,
    .footer__txt,
    address {
        width: 100%;
    }
}