.plan__inner {
    display: flex;
    justify-content: space-between;
}

.plan__box {
    width: 30%;
    padding: var(--space-s);

    margin-bottom: var(--space-m);
    border:var(--border-green);
    border-radius: 10px;
}

.plan__box-sail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--space-s);

    border:var(--border-green);
    border-radius: 10px;
}

.plan__txt {
    padding: var(--fs-s);
}

.plan__txt h3 {
    font-size: var(--fs-h4);
    color: var(--green);
}

.plan__txt h3,
.plan__txt p {
    text-align: center;
}

.plan__sali-txt span {
    text-decoration: line-through;
}

.plan__sali-price {
    margin-bottom: var(--space-l);
    font-size: var(--fs-h4);
}

.plan__sali-price-last {
    margin-bottom: 0;
    font-size: var(--fs-h4);
}

.plan__sali-price span,
.plan__sali-price-last span {
    color: var(--red);
}

.plan__img {
    width: 90%;
    margin: 0 auto var(--space-s);
}

.plan__sali-img {
    width: 50%;
}


   @media (max-width: 768px) {
    .plan__inner {
        flex-wrap: wrap;
    }

    .plan__box {
        width: 100%;
        padding: 0%;
    }

    .plan__box-sail {
      display: block;
        width: 100%;
        padding: var(--space-s);
      
        border: 3px solid var(--green);
        border-radius: 10px;
    }

    .plan__sali-price {
        margin-bottom: var(--space-s);
        padding: 5px;

        font-size: var(--fs-h3);
    }

    .plan__txt p,
    .plan__box ul {
        font-size: var(--fs-body);
    }

    .plan__img,
    .plan__sali-img,
    .plan__box ul {
        width: 70%;
        margin: 0 auto var(--space-s);
    }

    .plan__box-bloc ul {
        margin: 0 auto;
    }

    .plan__box-bloc .plan__txt,
    .plan__box-bloc ul {
        width: 50%;
    }

    .plan__box-bloc {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   }