.voice__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.voice__box{
    width: 48%;
    margin-bottom: var(--space-s);
    padding: var(--space-ss);
    border: var(--border-green);
    border-radius: 10px;
}

.voice__item{
    display: flex;
    justify-content: space-around;
    align-items: center;

    
    border-bottom: var(--border-green_s);
   padding-bottom: var(--space-ss);
    font-size: var(--fs-h4);
}

.voice__name{
    width: 70%;
}

.voice__img{
    width: 20%;
}

.voice__txt p{
    margin-bottom:var(--space-s);
}

@media (max-width: 768px) {

.voice__box{
    width: 100%;
}
}